[0;1;32m●[0m pipewire.service - PipeWire Multimedia Service
     Loaded: loaded (]8;;file://nixos/etc/systemd/user/pipewire.service\/etc/systemd/user/pipewire.service]8;;\; linked-runtime; preset: ignored)
    Drop-In: /nix/store/dwinb3lh83a642jql749w53c2bffjv61-user-units/pipewire.service.d
             └─]8;;file://nixos/nix/store/dwinb3lh83a642jql749w53c2bffjv61-user-units/pipewire.service.d/overrides.conf\overrides.conf]8;;\
     Active: [0;1;32mactive (running)[0m since Sun 2025-03-09 22:05:54 PDT; 6s ago
 Invocation: 89a7e26bf4724204b43fe327befcb33b
TriggeredBy: [0;1;32m●[0m pipewire.socket
   Main PID: 10334 (pipewire)
      Tasks: 4[0;38;5;245m (limit: 18335)[0m
     Memory: 4.4M (peak: 5M)
        CPU: 85ms
     CGroup: /user.slice/user-1000.slice/user@1000.service/session.slice/pipewire.service
             └─[0;38;5;245m10334 /nix/store/2zmz6v8f1978sy4gr868rgdnkbdhb0zm-pipewire-1.2.7/bin/pipewire[0m

Mar 09 22:05:54 nixos systemd[2087]: Started PipeWire Multimedia Service.
Mar 09 22:05:54 nixos pipewire[10334]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mmod.rt: RTKit error: org.freedesktop.DBus.Error.ServiceUnknown[0m
Mar 09 22:05:54 nixos pipewire[10334]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mmod.rt: RTKit does not give us MaxRealtimePriority, using 1[0m
Mar 09 22:05:54 nixos pipewire[10334]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mmod.rt: RTKit error: org.freedesktop.DBus.Error.ServiceUnknown[0m
Mar 09 22:05:54 nixos pipewire[10334]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mmod.rt: RTKit does not give us MinNiceLevel, using 0[0m
Mar 09 22:05:54 nixos pipewire[10334]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mmod.rt: RTKit error: org.freedesktop.DBus.Error.ServiceUnknown[0m
Mar 09 22:05:54 nixos pipewire[10334]: [0;1;38:5:185m[0;1;39m[0;1;38:5:185mmod.rt: RTKit does not give us RTTimeUSecMax, using -1[0m
